html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply outline-none cursor-pointer py-1.5 px-4 transition-all duration-1000 h-[38px] text-base;
}

.confirm-btn {
  @apply rounded-2xl bg-[#43c59e] hover:bg-[#92ddc7] text-white;
}

.plans-btn {
  @apply rounded-2xl bg-[#F96262] hover:bg-[#FCB0B0];
}

.enter-btn {
  @apply bg-[#aed9e0] hover:bg-[#d3eaee] rounded-full;
}

.search-btn {
  @apply rounded-tr-2xl rounded-br-2xl bg-[#aed9e0] hover:bg-[#d3eaee] hidden md:inline-block;
}

.searchbar {
  @apply py-1.5 px-4 rounded-tl-2xl rounded-bl-2xl border hidden md:inline-block;
}

.search-btn-small-screen {
  @apply rounded-tr-2xl rounded-br-2xl bg-[#aed9e0] hover:bg-[#d3eaee] md:hidden;
}

.searchbar-small-screen {
  @apply mb-8 py-1.5 px-4 rounded-tl-2xl rounded-bl-2xl border md:hidden;
}

.tag {
  @apply rounded-2xl py-0.5 px-2 bg-[#aed9e0] text-sm;
}
